@import "../styles/styles";

.blog {
  padding-top: 3rem;
  @include flexbox(column, center, center);

  // @include media("<tablet") {
  //   padding-top: 15vh;
  // }
}

.title {
  padding: 0 15vw;
  @include media("<tablet") {
    text-align: center;
    padding: 0;
  }

  h1 {
    font-size: 7vh;
    color: $black;
    padding-bottom: 2rem;
    @include media("<tablet") {
      font-size: 4vh;
    }
  }
}
.author {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  span {
    color: $black;
    margin-right: 0.5rem;
    @include media("<tablet") {
      margin-right: 0.3rem;
    }
  }
  @include media("<tablet") {
   justify-content: center;
   padding-bottom: 3vh;
  }

}
.authorimage {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.cover {
  width: 70vw;
  @include media("<tablet") {
    width: 100vw;
  }
}

.paragraph {
  color: $black;
  padding: 5vh 15vw;
  @include media("<tablet") {
    text-align: center;
    padding: 5vh 0 0 0;
  }
  a {
    text-decoration: underline;
  }
  li {
    // background: url("../assets/bullet.svg") no-repeat top left;
    background-position: 0 0.85rem;
    line-height: 1.5625;
    padding: 0 0 4px 25px;
    margin-left: 1em;
    @include media("<tablet") {
      text-align: start;
    }
  }
  p {
    color: $black;
    line-height: 163.2%;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;

    &:last-child{
      padding-bottom: 0;
    }
 
    @include media("<tablet") {
      padding-left:1rem;
      padding-right:1rem;
    }
 
 

    
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 5vh;
    padding-bottom: 2rem;
  }
  img {
    width: 100%;
  }
}

.footer {
  display: flex;
  padding: 0 15vw 5vw 15vw;
  width: 100%;
  @include media("<tablet") {
    justify-content: center;
    padding: 5vh 0 0 0;
  }

  .writtenby{
    color: lighten($black, 10%);
    font-size: 2vh;
    @include media("<tablet") {
      font-size: 2.5vh;
    }
    padding-bottom: 0.5rem;
  }
}

.footerimage {
  height: 10vh;
  margin-right: 0.8rem;
  @include media("<tablet") {
    height: 12vh;
  }
}

.footername {
  // @include flexbox(column, flex-start, center);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bold{
  font-weight: bold;
}
.authorName{
    color: $black;
    font-weight: lighter;
    font-size: 4vh;
    @include media("<tablet") {
      font-size: 3.5vh;
    }
  
}
.designation{
  display: block;
  color: lighten($black, 10%);
  font-size: 2vh;
  @include media("<tablet") {
    font-size: 2.5vh;
  }
}