@import "../../styles/styles";

.projectCard {
  min-height: 54vh;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  @include flexbox(column, center, space-between);
  flex-direction: column-reverse;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include media(">tablet") {
    box-shadow: none;
    flex-direction: row;
    min-height: 60vh;
  }
  & .imageCard {
    // box-sizing: border-box;
    height: fit-content;
    width: 100%;
    background-color: $green;
    border-radius: 8px 8px 0px 0px;
    @include media(">tablet") {
      width: 50vw;
      border-radius: 4px;
      position: absolute;
      right: 0;
      bottom: 8vh;
      padding: 5vh 5vw;
      display: grid;
      align-items: center;
    }
    & .image {
      border-radius: 4px;
    }
  }
  .content {
    @include flexbox(column, center, space-around);
    min-height: 28vh;
    height: 100%;
    padding: 2vh 3vw;
    background-color: $black;
    border-radius: 0 0 4px 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;

    @include media(">tablet") {
      width: 60vw;
      // border-radius: 8px;
      padding: 2vh;
      min-height: 70vh;
      height: 100%;
    }

    h1 {
      color: $green;
      text-transform: uppercase;
      font-size: 2.2vh;
      font-weight: bold;
      letter-spacing: 2px;
      @include media(">tablet") {
        font-size: 3.4vh;
        font-weight: 700;
        position: relative;
        left: -5vw;
        width: 75%;
      }
    }
    p {
      color: white;
      font-weight: 600;
      font-size: 2vh;
      line-height: 144%;
      padding-top: 2vh;
      @include media(">tablet") {
        font-size: 3.4vh;
        position: relative;
        left: -5vw;
        width: 75%;
        line-height: 154%;
      }
    }
    .button {
      color: $green;
      font-weight: 600;
      font-size: 1.8vh;
      letter-spacing: 1px;
      padding-top: 2vh;
      @include media(">tablet") {
        font-size: 2.6vh;
        font-weight: 700;
        position: relative;
        left: -5vw;
      }
    }
  }
}
