@import "../../styles/styles";

.hero {
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in;
  @include media(">tablet") {
    text-align: start;
  }
  color: white;
  .content {
    position: absolute;
    top: 6vh;
    padding: 0 6vw;
    @include media(">tablet") {
      top: 14vh;
    }
  }
  .pretitle,
  .title {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-size: 2vh;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    @include media(">tablet") {
      font-size: 2.6vh;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }

  .title {
    margin-top: 1vh;
    font-size: 6.9vw;
    letter-spacing: 0;
    line-height: 5vh;
    font-weight: 600;

    @include media(">tablet") {
      font-size: 6.5vh;
      letter-spacing: 4px;
      line-height: 8.6vh;
      width: 55%;
      margin-top: 0;
      font-weight: bolder;
    }
  }

  .buttons {
    @include flexbox(column, center, center);
    margin-top: 3vh;
    @include media(">tablet") {
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 5vh;
    }
    .primary,
    .secondary {
      @include flexbox(row, center, space-evenly);
      padding: 1vh 0.8vh;
      font-size: 4vw;
      color: white;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: $green;
      margin-bottom: 2.5vh;
      cursor: pointer;
      width: 44vw;
      border: 2px solid $green;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @include media(">tablet") {
        @include flexbox(row, center, flex-start);
        width: fit-content;
        white-space: nowrap;
        padding: 1.6vh 2vh;
        font-size: 2.8vh;
        margin-right: 2vw;
        font-weight: normal;
        letter-spacing: 2px;
        border: 0.3vh solid $green;
        border-radius: 8px;
        & svg {
          height: 2vw;
          width: 2vw;
        }
      }

      // transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $black;
        color: white;
      }
    }
    .secondary {
      background-color: transparent;
      background: rgba(53, 57, 63, 0.5);
    }
  }
}
